<ion-header>
  <ion-toolbar color="light">
    <ion-title class="ion-text-center">Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <form (ngSubmit)="login()" [formGroup]="loginForm" novalidate>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input
        type="email"
        formControlName="email"
        inputmode="email"
        autocomplete="username"
        required>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input
        type="password"
        formControlName="password"
        autocomplete="current-password"
        required>
      </ion-input>
    </ion-item>

    <ion-text color="danger" *ngIf="errorMessage" class="ion-text-center ion-margin-top">
      <p>{{ errorMessage }}</p>
    </ion-text>

    <ion-button
      expand="block"
      color="primary"
      type="submit"
      [disabled]="loginForm.invalid">
      Iniciar sesión
    </ion-button>
  </form>

  <ion-text color="medium" class="ion-text-center ion-margin-top">
    <p>¿No tienes una cuenta?
      <a routerLink="/register">Registrarse</a>
    </p>
  </ion-text>

</ion-content>
